* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:
    "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  color: #333;
}
.head {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.head-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #273c75;
  color: white;
}
.title {
  font-size: 20px;
  font-weight: 700;
  margin-right: 750px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.nav a {
  text-decoration: none;
  color: rgb(166, 160, 160);
  font-weight: 500;
  transition: color 0.3s;
}
.nav a:hover {
  color: #e7e9ee;
}
.search {
  position: relative;
  width: 200px;
}

.search input {
  width: 100%;
  padding: 0.6rem 2.2rem 0.6rem 1rem;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.search input:focus {
  border-color: #888;
}

.search i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 14px;
}
.search i:hover {
  color: white;
}
.image {
  width: 3rem;
  height: 3.5rem;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.image:hover {
  transform: scale(1.05);
}

.main-content {
  background-color: #f3f4f6;
  padding: 2rem 1rem;
  padding-top: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
.top-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.big-card {
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
}
.big-card:hover {
  transform: scale(1.01);
}
.card-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.card-image img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  transition: transform 0.3s;
}
.card-content {
  padding: 1.5rem;
}
.card-title {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  color: #273c75;
}

.card-text {
  color: rgb(80, 78, 78);
  margin-bottom: 1.2rem;
  line-height: 1.6;
}
.card-btn {
  background-color: #273c75;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.card-btn:hover {
  background-color: #1e2e59;
}
.simple-text {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding-left: 20px;
  font-size: 1rem;
  font-weight: 600;
}
.simple-text h2 {
  font-size: 1.8rem;
  color: #273c75;
  margin-bottom: 1.2rem;
}

.simple-text p {
  margin-bottom: 1rem;
  line-height: 1.7;
  color: #444;
}
